<h3>Current SDN network configuration</h3>
<style>
iframe {
  width: 960px;
  height: 500px;
  border: 1px solid #DEDEDE;
}
aside {
  font-size: small;
  left: 780px;
  position: absolute;
  text-align: right;
  width: 180px;
}
</style>

<iframe src="/home/d3_sdn" marginwidth="0" marginheight="0" scrolling="no"></iframe>

<br>
<p> <a href='/'>Back	</a>
